<%# ＜チャット画面＞ %>
<div class="chat">
  <div class="chat_header">
    <div class="left-header">
      <div class="header-title">
        hogefuga
      </div>
    </div>
    <div class="right-header">
      <div class="header-button">
        <a href="#">チャットを終了する</a>
      </div>
    </div>
  </div>
  <div class="chat_center">
    <div class="message">
      <div class="upper_message">
        <div class="user_name">Tom</div>
        <div class="date_time">2022/5/25(Wed) 12:43:30</div>
      </div>
      <div class="lower_message">
        <div class="message">おはよう</div>
    </div>
    <div class="message">
      <div class="upper_message">
        <div class="user_name">Tom</div>
        <div class="date_time">2022/5/25(Wed) 19:43:30</div>
      </div>
      <div class="lower_message">
        <div class="message">こんばんは</div>
       </div>
    </div>
  <div class="chat_bottom">
    <div class="form-input">
      <input class="form_message" placeholder="type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>      
    <input class="form_submit" type="submit" value="送信">
  </div>
</div>